:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.mantine-Table-root {
  font-size: 14px;
}
